@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Inter", sans-serif;
  }

  #root,
  html,
  body {
    @apply w-full h-full;
  }

  body {
    background-image: url(/games-hangman/bg-tile.png);
  }

  label {
    display: block;
  }

  input,
  textarea {
    @apply border-2 border-gray-300 rounded h-10 bg-gray-100 p-2 w-full font-normal focus:bg-white focus:border-gray-500 outline-none;
  }

  textarea {
    @apply min-h-[100px];
  }

  h1 {
    @apply text-3xl font-bold;
  }
}

@layer components {
  .form {
    @apply flex flex-col gap-4 mx-auto max-w-sm;
  }

  .btn {
    @apply rounded-lg h-10 px-6 bg-gray-300 font-bold uppercase tracking-wider inline-flex gap-2 items-center justify-center shadow-outline;
  }

  .btn-primary {
    @apply bg-primary text-white hover:bg-primary/80;
  }

  .btn-positive {
    @apply bg-positive text-positive-content hover:bg-positive-hover;
  }

  .input-label {
    @apply font-bold block;
  }

  .input-helper {
    @apply block text-sm;
  }
}
